@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playball&display=swap");
@import "tailwindcss";
/* 
@theme {
  -color--primaryDarkred: #6a0307;
  -color--primary-red: #820308;
  -color--primary-bg: #f8f8f8;
  -color--white: #ffffff;
  -color--sec-white: #cdcdcd;
} */

body {
  margin: 0;
  font-family: "Lato", serif;
  background-color: #eef1fa;
  scroll-behavior: smooth;
  /* display: flex;
  place-items: center; */
}

.perspective {
  perspective: 1000px;
}

.faculty-img-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}
@layer utilities {
  .m-width {
    @apply max-w-[1400px];
  }
  /* .reveal {
    @apply transition-all duration-300 group-hover:shadow-[10px_10px_0px_0px_rgba(170,17,23,1)];
  } */

  .nav-btns {
    @apply px-4 py-2 md:py-3 md:px-7 rounded-md text-center bg-white hover:border-2 border-2 border-transparent  hover:border-red-800 cursor-pointer text-base lg:text-lg w-full capitalize font-medium transition-colors;
  }

  .nav-btns-active {
    @apply text-white bg-red-800 font-semibold;
  }

  .footer-li {
    @apply p-2 flex flex-row gap-2 flex-nowrap cursor-pointer hover:bg-red-700 rounded-lg items-center;
  }

  .section-px {
    @apply px-6 md:px-8 lg:px-14;
  }
  .section-py {
    @apply py-10 md:px-8 lg:py-14;
  }

  .large-text {
    @apply text-3xl lg:text-5xl;
  }
  .medium-text {
    @apply text-xl lg:text-2xl;
  }
  .small-text {
    @apply text-lg lg:text-xl;
  }
}

@layer components {
  .card {
    @apply max-w-[1400px];
  }
}

.cursive-text {
  font-family: "Playball", serif;
  font-weight: 400;
  font-style: normal;
}
.cursive-text::before {
  content: " ";
  width: 5px;
  background: red;
  height: max-content;
}
.nav-bar-links {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 65% 0);
  clip-path: polygon(0 0, 20% 100%, 100% 100%, 100% 0, 0 0);
}
.banner-overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    107deg,
    rgba(0, 0, 0, 0.5158438375350141) 0%,
    rgba(25, 16, 16, 0.5074404761904762) 28%,
    rgba(133, 21, 21, 0.5102415966386555) 67%,
    rgba(163, 0, 0, 0.5046393557422969) 100%
  );
}
.programs-bg {
}
.programs-bg {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.753) 0%,
      rgba(163, 0, 0, 0.616) 100%
    ),
    url("/programs-bg1.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}
.faculty-bg {
  background-image: url("/faculty-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

.reveal-shadow {
  -webkit-box-shadow: 10px 10px 0px 0px rgba(170, 17, 23, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(170, 17, 23, 1);
  box-shadow: 10px 10px 0px 0px rgba(170, 17, 23, 1);
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 950px) {
}
